﻿body
{
    background:#ececec;
    //background-image:url("../Images/ConferenceRoom.jpg");
    font-family:Segoe UI;
}

.body-image
{
    background-image:url("../Images/ConferenceRoom.jpg");
}
div
{    height: 200px;
     margin-top: 20px;
}
a:focus {
    outline: none;
}
.logo 
{
    height:70px;
}
.header 
{
    padding-top:5px;
    border-bottom: 2px solid #A4A4A4;
    
    /*background: -webkit-linear-gradient(right, #1363B9 , white); /* For Safari 5.1 to 6.0 */
    /*background: -o-linear-gradient(left, #1363B9, white); /* For Opera 11.1 to 12.0 */
    /*background: -moz-linear-gradient(left, #1363B9, white); /* For Firefox 3.6 to 15 */
   /* background: linear-gradient(to left, #1363B9 , white);*/
    
    background:#ffffff;
}
.logo-text
{
    font-size:large;
    margin-left:-50px;
    padding-top:35px;
}
.header-right
{
    padding-right:0px;   
}
.nav-bar-container
{
    background: background: rgba(19, 99, 185, 0.65) none repeat scroll 0% 0%;
    padding: 1px 0px 0px 0px;
}

/*=============================== Notification css =======================================*/
#notification_li a{
	text-decoration: none;
}
#notification_li a:hover{
	text-decoration: none;
}
#notification_li{
	position: relative;
}
#notificationContainer {
	background-color: #fff;
	border: 1px solid rgba(100, 100, 100, .4);
	-webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
	position: absolute;
	top: 35px;
	margin-left: 435px;
	z-index: 1;
	display: none;
	max-height: 400px;
    overflow: auto;
    overflow-x: hidden;
}
#notificationContainer:before {
	content: '';
	display: block;
	position: absolute;
	width: 0;
	height: 0;
	color: black;
	border: 10px solid black;
	border-color: transparent transparent rgba(100, 100, 100, .4);
	margin-top: -20px;
	margin-left: 335px;
}
#notificationTitle {
	z-index: 1000;
	font-weight: bold;
	padding: 8px 25px 8px 8px;
	font-size: 13px;
	background-color: #ffffff;
	width: 384px;
	border-bottom: 1px solid #dddddd;
}
#notificationsBody {
	min-height:300px;
}
#notificationsBody a:hover {
    background: yellow;   
}
#notificationFooter {
	background-color: rgba(246, 246, 246, 0.85);
	text-align: center;
	font-weight: bold;
	padding: 8px;
	font-size: 12px;
	border-top: 1px solid #dddddd;
}
#notification_count {
	padding: 0px 5px;
    background: #E90909 none repeat scroll 0% 0%;
    color: #FFF;
    font-weight: bold;
    margin-left: -3px;
    border-radius: 5px;
    position: absolute;
    margin-top: -4px;
    font-size: 11px;
}
.notification {
    padding: 5px;
    text-align: left;
    border-bottom: 1px solid #DDD;
    min-height: 70px;
    color: #1363B9;
    cursor: pointer;
}
.notification:hover {
    background: #DDD;
}
.notifications .col-md-3 {
    padding: 0px;
}
.notifications img {
    opacity: 0.6;
    width: 59px;
}
.notification a:hover {
    background: yellow;   
}
.not-seen {
    background: #CAE6F3 none repeat scroll 0% 0%;
}
.not-content-box {
    font-size: 13px;
    padding: 0px 0px 0px 5px;
}
.not-date {
    color: #898989;
    font-size: 13px;
    float: right;
}
/*User name css*/
#user-name-box
{ 
    text-align: right;
    font-size: 16px;
    float: right;
    padding: 5px 17px 6px 0px;
    height: 40px;
}
#userName
{
    padding-right: 5px;
}
#A1
{
    color:#39BBED;
}

.custom-nav-bar
{
    font-size: 20px;
    border: medium none;
    float: right;
    background: #437FAB none repeat scroll 0% 0%;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    margin-top: 2px;
    padding: 2px 2px 0px 2px;
}
.custom-nav-bar li a
{
    color:Black;
    padding: 5px 30px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    margin:0px 1px 0px 1px;
}
.custom-nav-bar li a.active
{
    background-color: #ECECEC;
}
.nav > li > a:focus, .nav > li > a:hover {
    background-color: #ECECEC;
}
.custom-nav-bar u
{
    text-decoration:none;
    border-bottom:3px solid blue;
}
.expand-item-container
{
    padding: 30px 0% 0px 0%;
}
.expand-item
{
    padding:10px 10px 10px 0px;
}
.expand-item-title, #AdvancedAssetSearchHeader, #AdvancedUserSearchHeader, #ReportsHeader
{
    font-size:20px;
    color:#1f69b9;
    padding:10px 0px 19px 70px;
    cursor:pointer;
}
.expand-item img
{
    float:left;
}
.expand-item a:hover
{
    text-decoration:none;
}
.expand-item-content
{
    display: none;
}
.expand-item-label
{
    padding: 0px 30px 0px 0px;
    float:left;
    width: 37%; 
    text-align: right; 
    font-size: 19px;
    color: #808181;
}
.expand-item-labelusername
{
    padding: 0px 30px 0px 0px;
    float:left;
    width: 37%; 
    text-align: right; 
    font-size: 19px;
    color:#800102;
}  
.expand-item-textbox
{
    width:54%;
    height:28px;
    padding-left:6px;
    padding-bottom:2px;
    font-size:16px;
    border:1px solid #cacaca;
}
.expand-item-row
{
    padding:0px 0% 1.6% 9%;
}
.expand-item-btn
{
    float:right;
    margin-top:20px;
    margin-left:10px;
    background:#1f69b9;
    color:White;
    padding: 0px 10px;
    height:35px;
    font-size:20px;
    border:none;
}
.expand-item-btn:hover
{
    box-shadow: 0px 1px 8px 0.5px grey;
}
.validator
{
    color: Red;
    font-size:17px;
    margin-left: 37%;
}
#responseBoxGreen
{
    display: none;
    font-family: Segoe UI;
    font-size: 17px;
    margin-bottom: 16px;
    padding: 10px;
    border: 8px solid rgba(92, 231, 94, 0.33);
    background: rgba(216, 246, 169, 0.39);
    border-radius: 6px;
}
#responseBoxRed
{
    display: none;
    font-family: Segoe UI;
    font-size: 17px;
    margin-bottom: 16px;
    padding: 10px;
    border: 8px solid rgba(231, 92, 92, 0.33);
    background: none repeat scroll 0% 0% rgba(246, 169, 169, 0.39);
    border-radius: 6px;
}
.info-div
{
    padding-left: 57px; 
    margin-bottom: 17px;
    font-size:18px;
    color:#8f9194;
}
.custom-label
{
    height:28px;
    padding-left:6px;
    font-size:18px;
}

.item-title
{
    font-size:20px;
    color:#1f69b9;
    padding:10px 0px 19px 70px;
    
}

/*============================== Admin home page styles ==================================*/

.admin-category-icon
{
    position:absolute;
    background:url(/img/Fixed-Assets-Icon.png) no-repeat;
    width:311px;
    height:311px;
    opacity:0.1;
    background-size:contain;
    z-index:-1;
}
.admin-subcategory-icon
{
    position:absolute;
    background:url(/img/sub.png) no-repeat;
    width:311px;
    height:311px;
    opacity:0.1;
    background-size:contain;
    z-index:-1;
}
.admin-costcenter-icon
{
    position:absolute;
    background:url(/img/costcenter.png) no-repeat;
    width:311px;
    height:311px;
    opacity:0.1;
    background-size:contain;
    z-index:-1;
}
.small-box:hover .icon {
  font-size: 95px;
}
.small-box {
    border-radius: 6px;
    position: relative;
    display: block;
    margin-bottom: 20px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}
.aqua{
    background-color: rgba(53, 114, 158, 0.92) !important;
}
.newstyle {
    font-size: 38px;
    font-weight: bold;
    margin: 0 0 10px 0;
    white-space: nowrap;
    padding: 0;
}
.small-box .icon {
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
    position: absolute;
    top: 10px;
    right: 18px;
    z-index: 99;
    font-size: 90px;
    color: rgba(0,0,0,0.15);
}
.small-box>.inner {
    padding: 13px;
    color: white;
}
.icon img
{
    width:100px;
}
.small-box:hover
{
    border-radius: 2px;
}
.small-box>.icon>img:hover
{
    width:98px;
    padding-left:2px;
    padding-bottom:2px;
    
    
}
.small-box-footer
{
    position:relative;
    text-align:center;
    padding:3px 0;
    color:#fff;
    color:rgba(255,255,255,0.8);
    display:block;
    z-index:10;
    background:rgba(0,0,0,0.1);
    text-decoration:none;
    }
.small-box>.small-box-footer:hover
{
    color:#fff;
    background:rgba(0,0,0,0.15)
}


/*============================== Admin people tab styles ================================*/

/*========================= Admin people tab =============================*/

.add-user-icon
{
    position:absolute;
    background:url(/img/addNewUser.png) no-repeat;
    width:350px;
    height:350px;
    opacity:0.1;
    background-size:contain;
    z-index:-1;
}
#AddUserLoginDetailContainer
{
    display:none;
}

.update-user-icon
{
    position:absolute;
    background:url(/img/updateUser.png) no-repeat;
    width:350px;
    height:350px;
    opacity:0.1;
    background-size:contain;
    z-index:-1;
}
#updateUserSecondState
{
    display:none;
}

.adv-user-search-icon
{
    position:absolute;
    background:url(/img/userSearch.png) no-repeat;
    width:350px;
    height:350px;
    opacity:0.1;
    background-size:contain;
    z-index:-1;
}  

.delete-user-icon
{
    position:absolute;
    background:url(/img/deleteUser.png) no-repeat;
    width:350px;
    height:350px;
    opacity:0.1;
    background-size:contain;
    z-index:-1;
}
#deleteUserSecondState
{
    display:none;
}


/*================================ Admin system tab styles ===============================*/

/*========================= Admin system tab =============================*/

.add-location-icon
{
    position:absolute;
    background:url(/img/add-location.png) no-repeat;
    width:350px;
    height:350px;
    opacity:0.1;
    background-size:contain;
    z-index:-1;
} 

.update-location-icon
{
    position:absolute;
    background:url(/img/updateLocation.png) no-repeat;
    width:350px;
    height:350px;
    opacity:0.1;
    background-size:contain;
    z-index:-1;
}

.add-categoy-icon
{
    position:absolute;
    background:url(/img/addCategory.png) no-repeat;
    width:400px;
    height:400px;
    opacity:0.1;
    background-size:contain;
    z-index:-1;
}  

.update-category-icon
{
    position:absolute;
    background:url(/img/updateCategory.png) no-repeat;
    width:350px;
    height:350px;
    opacity:0.1;
    background-size:contain;
    z-index:-1;
}

#updateCategorySecondState, #updatelocationSecondState, #disposeAssetSecondState, #updateSubCategorySecondState, #resetPasswordSecondState
{
    display:none;
}

.add-sub-categoy-icon
{
    position:absolute;
    background:url(/img/addSubCategory.png) no-repeat;
    width:400px;
    height:400px;
    opacity:0.1;
    background-size:contain;
    z-index:-1;
}  

.update-sub-category-icon
{
    position:absolute;
    background:url(/img/updateSubCategory.png) no-repeat;
    width:350px;
    height:350px;
    opacity:0.1;
    background-size:contain;
    z-index:-1;
}

/*=============================== Manage assets page styles ==============================*/
.register-new-asset-icon
{
    position:absolute;
    background:url(/img/addNewAsset.png) no-repeat;
    width:350px;
    height:350px;
    opacity:0.1;
    background-size:contain;
    z-index:-1;
}

.advanced-asset-search-icon
{
    position:absolute;
    background:url(/img/assetSearch.png) no-repeat;
    width:350px;
    height:350px;
    opacity:0.1;
    background-size:contain;
    z-index:-1;
}

.transfer-asset-icon
{
    position:absolute;
    background:url(/img/transferAsset.png) no-repeat;
    width:350px;
    height:350px;
    opacity:0.1;
    background-size:contain;
    z-index:-1;
}
#transferAssetSecondState
{
    display:none;
}

.upgrade-asset-icon
{
    position:absolute;
    background:url(/img/upgradeAsset.png) no-repeat;
    width:350px;
    height:350px;
    opacity:0.1;
    background-size:contain;
    z-index:-1;
}
#upgradeAssetSecondState
{
    display:none;
}

.dispose-asset-icon
{
    position:absolute;
    background:url(/img/disposeAsset.png) no-repeat;
    width:350px;
    height:350px;
    opacity:0.1;
    background-size:contain;
    z-index:-1;
}


/*================================= Report page styles ===================================*/

/*============================== Report page styles ========================*/

.report-finance-icon
{
    position:absolute;
    background:url(/img/finance-report.png) no-repeat;
    width:250px;
    height:310px;
    opacity:0.1;
    background-size:contain;
    z-index:-1;
}
.report-general-icon
{
    position:absolute;
    background:url(/img/report-genaral.png) no-repeat;
    width:250px;
    height:310px;
    opacity:0.1;
    background-size:contain;
    z-index:-1;
}
.report-transfer-icon
{
    position:absolute;
    background:url(/img/report-transfer.png) no-repeat;
    width:250px;
    height:310px;
    opacity:0.1;
    background-size:contain;
    z-index:-1;
}
.report-upgrade-icon
{
    position:absolute;
    background:url(/img/report-upgrade.png) no-repeat;
    width:250px;
    height:310px;
    opacity:0.1;
    background-size:contain;
    z-index:-1;
}
.report-dispose-icon
{
    position:absolute;
    background:url(/img/report-dispose.png) no-repeat;
    width:250px;
    height:310px;
    opacity:0.1;
    background-size:contain;
    z-index:-1;
}
.report-ul

{
    color: #337BAA;
    list-style: none;
}
.report-label
{
    color: #337BAA;
    padding: 0px 30px 0px 0px;
    float: left;
    font-size: 19px;
    list-style: none;
}

{
    color: #337BAA;
    list-style: none;
}
.report-label
{
    color: #337BAA;
    padding: 0px 30px 0px 0px;
    float: left;
    font-size: 19px;
    list-style: none;
}




/*=================================== footer styles =====================================*/
#footer
{
    margin: 150px 0px 0px 0px;
}
.footer-up
{
    background:#212429;
    height:80px;
    padding-top:30px;
    font-size:18px;
}
.footer-down
{
    background:#181818;
    height:60px;
    padding:10px 0px 0px 30px;
    color:White;
}
.footer-nav{
	text-align: center;
	list-style: none;
}
.footer-nav li{
	 display: inline;
}
.footer-nav li:not(:first-child):before{
	content: '|';
	padding: 0px 10px;
}
.footer-nav a{
	color:#b2b2b2;
}
.footer-nav a:hover{
	color: #fff;
	text-decoration: none;
}
.developer-link
{
    text-align:right;
    padding:12px 40px 0px 0px;
    float:right;
    width:170px;
}
.developer-link a{
	color:#b2b2b2;
}
.developer-link a:hover{
	color: #fff;
	text-decoration: none;
}

/*=================================== Login page styles ================================*/
.login-box-container
{
    padding-left: 114px; 
    padding-top: 23px;
}
.image-container
{
    padding-top:54px;
}
.login-welcome
{
    font-size:21px;
    color:#1f69b9;
    font-family:Segoe UI;
}
.login-box
{
    background-color:#434347;
    padding:30px 30px 0px 30px;
    width:360px;
    height:235px;
    -webkit-box-shadow:rgb(110,110,110) 4px 4px;
    border:0.8px solid white;
    display:block;
    margin-top:17px;
    margin-bottom:20px;
}
.login-textbox{
	
	font-size:20px;
	height:45px;
	margin-bottom:10px;
}

.number-textbox{
	
	font-size:15px;
	height:30Fpx;
	margin-bottom:10px;
}
.form-group, .has-feedback
{
    margin-bottom:20px;
    height:45px;
}
.custome-glyphicon
{
    padding-top:6px;
    color:#1f69b9;
}
.remember-me-container
{
    color:White;
    padding-left:10px;
    width:155px;
    font-size:18px;
    float:left;
    margin-bottom:10px;
}
.remember-me-container input
{
    margin-right:5px;
}
.login-btn
{
    margin-top:0px;
    padding-bottom:3px;
}
.forgot-password-container
{
    color:White;
    width:155px;
    font-size:16px;
    float:left;
}
.forgot-password-container a
{
    color:White;
}

/*============================== Notification view styles ==============================*/
#AddnewassetState, #UpgradeassetState, #DisposeassetState,#DisposeassetApprove,#DisposeassetCancel, #AddnewassetStateApprove, #AddnewassetStateApproveCancel, #UpgradeassetApprove,#UpgradeassetStateApproveCancel
{
    display:none;
}
.notification-icon
{
    position:absolute;
    background:url(/img/notification-bell.png) no-repeat;
    width:350px;
    height:350px;
    opacity:0.1;
    background-size:contain;
    z-index:-1;
} 
#TransferassetState,#TransferassetApproveState,#TransferassetCancelState
{
    display:none;
}


/*====================service login style====================================*/





